<div class="flex flex-col space-y-4 m-4 h-screen xl:container xl:mx-auto" *ngIf="user">
  <app-navbar></app-navbar>
  <div class="w-full flex card bg-base-100 rounded-lg">

    <div class="card-body">
      <div class="flex flex-row">
        <div class="mr-3">
          <img src="{{user.image}}" alt="" class="rounded">
        </div>

        <div class="flex-1">
          <p class="text-6xl font-bold mb-4">{{user.first_name}} {{user.last_name}}</p>
          <p class="text-xl font-bold mb-4">Username: <span class="font-light text-lg">{{user.username}}</span></p>
          <p class="text-xl font-bold mb-4">Email: <span class="font-light text-lg">{{user.email}}</span></p>
          <p class="text-xl font-bold mb-4">Birthday: 
            <span class="font-light text-lg">{{user.birth_date}}</span>
            <span class="font-extralight text-lg ml-1">({{get_age(user.birth_date)}} years)</span>
          </p>
        </div>
      </div>

      <p class="text-xl font-bold ">Description:</p>
      <p class="font-light text-lg text-justify">{{user.description}}</p>
    </div>
  </div>

  <div class="w-full flex bg-base-100 rounded-lg mt-4">
    <p class="text-3xl font-bold p-4">Reviews</p>
  </div>
  <div class="w-full flex bg-base-100 rounded-lg mt-4" *ngFor="let review of reviews">
    <a routerLink="/book/{{review.book}}">
      <div class="card-body flex flex-row">
        <div class="avatar my-auto">
          <div class="mask mask-squircle w-16 h-16">
            <img src="{{review.book_image}}" alt="" />
          </div>
        </div>
        <div class="my-auto">
          <p class="font-bold">{{review.book_title}}</p>
          <p>{{calculateDate(review.datetime)}}</p>
        </div>
        <div class="divider divider-horizontal"></div>
        <div class="my-auto">
          <p>{{review.text}}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="w-full flex bg-base-100 rounded-lg mt-4">
    <p class="text-3xl font-bold p-4">My Fav Books</p>
  </div>
  <app-books-container [books]="books"></app-books-container>

  <div class="w-full flex bg-base-100 rounded-lg mt-4">
    <p class="text-3xl font-bold p-4">My Fav Authors</p>
  </div>
  <div class="grid grid-cols-2 gap-4" *ngFor="let author of authors">
    <div class="card card-side bg-base-100 shadow-xl">
      <figure><img src={{author.image}} alt="Author"/></figure>
      <div class="card-body">
        <h2 class="card-title">{{author.name}}</h2>
          <p class="line-clamp-5">{{author.description}}</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary" routerLink="/author/{{author.id}}">More</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="w-full flex bg-base-100 rounded-lg mt-4">
    <p class="text-3xl font-bold p-4">My Fav Publishers</p>
  </div>
  <div class="grid grid-cols-2 gap-4" *ngFor="let publisher of publishers">
    <div class="card card-side bg-base-100 shadow-xl">
      <figure><img src={{publisher.logo}} alt="Author"/></figure>
      <div class="card-body">
        <h2 class="card-title">{{publisher.name}}</h2>
          <p class="line-clamp-5">{{publisher.address}}</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary" routerLink="/publisher/{{publisher.id}}">More</button>
        </div>
      </div>
    </div>
  </div>
  
  <app-books-container></app-books-container>
</div>
