<div class="flex flex-col space-y-4 m-4 h-screen xl:container xl:mx-auto" *ngIf="user">
  <app-navbar></app-navbar>
  <div class="w-full flex card bg-base-100 rounded-lg">

    <div class="card-body">
      <div class="flex flex-row">
        <div class="mr-3">
          <img src="{{user.image}}" alt="" class="rounded">
        </div>

        <div class="flex-1">
          <p class="text-6xl font-bold mb-4">{{user.first_name}} {{user.last_name}}</p>
          <p class="text-xl font-bold mb-4">Username: <span class="font-light text-lg">{{user.username}}</span></p>
          <p class="text-xl font-bold mb-4">Email: <span class="font-light text-lg">{{user.email}}</span></p>
          <p class="text-xl font-bold mb-4">Birthday: 
            <span class="font-light text-lg">{{user.birth_date}}</span>
            <span class="font-extralight text-lg ml-1">({{get_age(user.birth_date)}} years)</span>
          </p>


          <!-- Mostrar só quando tem livros-->
          <p class="text-xl font-bold mb-4" *ngIf="books">Average Rating: 
            <span class="font-light text-lg" *ngIf="books.length > 0">{{user.avg_rating}}</span>
          </p>
        </div>
      </div>

      <p class="text-xl font-bold ">Description:</p>
      <p class="font-light text-lg text-justify">{{user.description}}</p>
    </div>
  </div>

  <div class="w-full flex bg-base-100 rounded-lg mt-4">
    <p class="text-3xl font-bold p-4">Reviews</p>
  </div>
  <div class="w-full flex bg-base-100 rounded-lg mt-4" *ngFor="let review of reviews">
    <div class="pt-4 pl-4 pr-4">
      <div class="">
        <a routerLink="/book/{{review.book_info.id}}" class="text-primary font-bold hover:underline decoration-wavy underline-offset-2">
        </a>
        <span class="font-light">{{review.date}}</span>
        <p>
          {{review.review}}
        </p>
        <div class="divider"></div>
      </div>
    </div>
  </div>

  <div class="w-full flex bg-base-100 rounded-lg mt-4">
    <p class="text-3xl font-bold p-4">My Books</p>
  </div>
  <app-books-container></app-books-container>
</div>
