<div class="flex flex-col space-y-4 m-4 h-screen xl:container xl:mx-auto">
  <app-navbar></app-navbar>
  <div class="w-full flex card bg-base-100 rounded-lg">

    <div class="card-body">
      <div class="flex flex-row">
        <div class="mr-3">
          <img src="https://placeimg.com/300/400/people" alt="" class="rounded">
        </div>

        <div class="flex-1">
          <p class="text-6xl font-bold mb-4">Vicente Barros</p>
          <p class="text-xl font-bold mb-4">Username: <span class="font-light text-lg">v1centebarros</span></p>
          <p class="text-xl font-bold mb-4">Email: <span class="font-light text-lg">bobboss@gmail.com</span></p>
          <p class="text-xl font-bold mb-4">Birthday: <span class="font-light text-lg">05/10/2001</span><span
            class="font-extralight text-lg ml-1">(21)</span></p>

          <!-- Mostrar só quando tem livros-->
          <p class="text-xl font-bold mb-4">Average Reviews per Book: <span class="font-light text-lg">5</span></p>
        </div>
      </div>

      <p class="text-xl font-bold ">Description:</p>
      <p class="font-light text-lg text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Pharetra et ultrices neque ornare aenean euismod elementum. Euismod lacinia at quis risus sed
        vulputate odio. Integer eget aliquet nibh praesent tristique magna sit amet. Fames ac turpis egestas sed tempus
        urna. Ut morbi tincidunt augue interdum velit euismod. Scelerisque eleifend donec pretium vulputate sapien nec
        sagittis aliquam. Volutpat consequat mauris nunc congue. Cursus vitae congue mauris rhoncus aenean vel elit. Et
        netus et malesuada fames. Volutpat est velit egestas dui id. Vel eros donec ac odio tempor. Ut diam quam nulla
        porttitor massa id. Ridiculus mus mauris vitae ultricies leo integer. Aliquet sagittis id consectetur purus ut
        faucibus. Lacus vel facilisis volutpat est velit egestas dui id ornare. At urna condimentum mattis pellentesque
        id nibh tortor id. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Nisl condimentum
        id venenatis a condimentum vitae sapien.
      </p>
    </div>
  </div>

  <div class="w-full flex bg-base-100 rounded-lg mt-4">
    <p class="text-3xl font-bold p-4">Reviews</p>
  </div>
  <div class="w-full flex bg-base-100 rounded-lg mt-4"><!--*ngFor="let i of [1,2,3]"-->
    <div class="pt-4 pl-4 pr-4">
      <div class=""> <!--*ngFor="let i of [1,2,3]"-->
        <a routerLink="/book/1" class="text-primary font-bold hover:underline decoration-wavy underline-offset-2">O livro do homem
          burro </a>
        <span class="font-light">(02/12/2022)</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Pharetra et ultrices neque ornare aenean euismod elementum. Euismod lacinia at quis risus sed
          vulputate odio. Integer eget aliquet nibh praesent tristique magna sit amet. Fames ac turpis egestas sed
          tempus urna. Ut morbi tincidunt augue interdum velit euismod.</p>
        <div class="divider"></div>
      </div>
    </div>
  </div>

  <div class="w-full flex bg-base-100 rounded-lg mt-4">
    <p class="text-3xl font-bold p-4">My Books</p>
  </div>
  <app-books-container></app-books-container>
</div>
