/*---------------------------------------------------------------------- /
SECTIONS
----------------------------------------------------------------------- */

.section-cards {
    z-index: 3;
    position: relative;

}

.section-gray {
    background: #E5E5E5;
    padding: 60px 0 30px 0;
}