<div class="max-w-xl mx-auto p-6 my-6 bg-base-100 rounded-xl shadow-xl" id="login-container">
    <h1 class="text-5xl font-bold mb-6 tracking-wider h-full">Edit Book</h1>
    <form
      [formGroup]="form"
    >
      <div class="form-control">
        <label class="label">
          <span class="label-text">Title</span>
        </label>
        <input
          type="text"
          placeholder="Title"
          class="input input-bordered"
          name="title"
          value = "{{ book.title }}"
          formControlName="title"
  
        />

  
  
        <label class="label">
          <span class="label-text">Number of pages</span>
        </label>
        <input
          type="text"
          placeholder="Number of pages"
          class="input input-bordered"
          name="pages"
          value = "{{ book.pages }}"
          formControlName="pages"
  
        />
  
        <label class="label">
          <span class="label-text">Publish Date</span>
        </label>
        <input type="date" placeholder="Publish Date" class="input input-bordered" name="publishDate"
               formControlName="publishDate" value = "{{ book.publish_date }}"/>
  
 
  
  
        <label class="label">
          <span class="label-text">Language</span>
        </label>
        <select
          class="input input-bordered"
          name="language"
          formControlName="language"
          value = "{{ book.language }}"
          >
          <option selected value="">Language</option>
          <option *ngFor="let language of languages" value={{language}}>{{language}}</option>
        </select>
  
  
        <label class="label">
          <span class="label-text">Publisher</span>
        </label>
        <select
          class="input input-bordered"
          name="publisher"
          formControlName="publisher"
          value = "{{ book.publisher }}"
          >
          <option selected value="">Publisher</option>
          <option *ngFor="let publisher of publishers" value={{publisher.id}}>{{publisher.name}}</option>
        </select>
  
  
        <label class="label">
          <span class="label-text">Publish Date</span>
        </label>
        <input
          type="text"
          placeholder="ISBN"
          class="input input-bordered"
          name="isbn"
          value = "{{ book.isbn }}"
          formControlName="isbn"
  
        />
  
  
        <label class="label">
          <span class="label-text">Book Cover</span>
        </label>
        <input (change)="onFileChange($event)" type="file" class="input input-bordered" name="image"/>
  
  
        <label class="label">
          <span class="label-text">Description</span>
        </label>
        <textarea class="textarea h-24 textarea-bordered" placeholder="Tell us a bit about you" name="description"
                  value = "{{ book.description }}"
                  formControlName="description"></textarea>

  
        <div class="flex flex-row mt-6 justify-between">
          <a routerLink="/" class="btn btn-accent w-5/12">Go Back</a>
          <input type="submit" value="Add Book" class="btn btn-primary w-5/12"  (click)="onSubmit()"/>
        </div>
  
      </div>
    </form>
  </div>
  
