<div class="flex flex-col space-y-4 m-4 h-screen xl:container xl:mx-auto">
  <app-navbar></app-navbar>
  <div class="w-full flex card bg-base-100 rounded-lg" *ngIf="book">

    <div class="card-body">

      <div class="flex flex-row">
        <div class="mr-3">
          <img src="{{book.image}}" alt="" class="rounded">
        </div>
        <div class="flex-1">
          <p class="text-6xl font-bold mb-4">{{book.title}}</p>
          <div class="rating rating-lg mb-5">
            <input type="radio" name="rating-9" class="rating-hidden" [checked]="book.avg_rating >= 0 && book.avg_rating < 1"/>
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" [checked]="book.avg_rating >= 1 && book.avg_rating < 2"/>
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" [checked]="book.avg_rating >= 2 && book.avg_rating < 3"/>
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" [checked]="book.avg_rating >= 3 && book.avg_rating < 4"/>
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" [checked]="book.avg_rating >= 4 && book.avg_rating < 5"/>
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" [checked]="book.avg_rating === 5"/>
          </div>
          <p class="text-xl font-bold mb-4" >Author: 
            <a routerLink="/author/{{book.author}}" class="font-light text-lg underline">{{book.author_name}}</a>
          </p>
          <p class="text-xl font-bold mb-4">Number of Pages: <span class="font-light text-lg">{{book.pages}}</span></p>
          <p class="text-xl font-bold mb-4">Language:
             <span class="font-light text-lg">{{book.language}}</span></p>
          <p class="text-xl font-bold mb-4">Publish Date: <span class="font-light text-lg">{{book.publish_date}}</span>
          </p>
          <p class="text-xl font-bold mb-4">ISBN: <span class="font-light text-lg">{{book.isbn}}</span></p>
        </div>
      </div>
      <p class="text-xl font-bold ">Description:</p>
      <p class="font-light text-lg text-justify">
        {{book.description}}
      </p>
    </div>
  </div>

  <div class="w-full flex bg-base-100 rounded-lg mt-4">
    <div class="flex flex-row justify-between p-4 w-full">
      <p class="text-3xl font-bold my-auto">Reviews</p>
      <button class="btn btn-primary" (click)="showReviewsToggle()">{{text_button}}</button>
    </div>
  </div>

  <div class="w-full flex bg-base-100 rounded-lg mt-4" *ngIf="showReviews">
    <input type="text" class="input input-bordered flex-1 m-4 in" placeholder="Insert your Review Here"
      [(ngModel)]="userReview" />
    <button class="btn btn-primary my-auto mr-3" (click)="submitReview()">Submit</button>
  </div>

  <div class="w-full flex card bg-base-100 rounded-lg mt-4" *ngIf="myReview">
    <p class="text-3xl font-bold my-auto">Your Review</p>
    <div class="card-body flex flex-row" *ngIf="myReview.user == user.id">
      <div class="avatar my-auto">
        <div class="mask mask-squircle w-16 h-16">
          <img src="{{myReview.user_image}}" alt="" />
        </div>
      </div>
      <div class="my-auto">
        <p class="font-bold">{{myReview.user_name}}</p>
        <p>{{myReview.datetime}}</p>
      </div>
      <div class="my-auto">
        <p>{{myReview.text}}</p>
      </div>
    </div>
  </div>

  <div class="w-full flex card bg-base-100 rounded-lg mt-4" *ngFor="let review of reviews">
    <div class="card-body flex flex-row" *ngIf="review.user != user.id">
      <div class="avatar my-auto">
        <div class="mask mask-squircle w-16 h-16">
          <img src="{{review.user_image}}" alt="" />
        </div>
      </div>
      <div class="my-auto">
        <p class="font-bold">{{review.user_name}}</p>
        <p>{{review.datetime}}</p>
      </div>
      <div class="my-auto">
        <p>{{review.text}}</p>
      </div>
    </div>
  </div>
</div>