<div class="flex flex-col space-y-4 m-4 h-screen xl:container xl:mx-auto">
  <app-navbar></app-navbar>
  <div class="w-full flex card bg-base-100 rounded-lg" *ngIf="book">

    <div class="card-body">

      <div class="flex flex-row">
        <div class="mr-3">
          <img src="{{book.image}}" alt="" class="rounded">
        </div>
        <div class="flex-1">
          <p class="text-6xl font-bold mb-4">{{book.title}}</p>
          <div class="rating rating-lg mb-5">
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" checked />
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" />
          </div>
          <p class="text-xl font-bold mb-4" routerLink="/profile/{{book.author}}">Author: <span
              class="font-light text-lg">{{book.author_name}}</span></p>
          <p class="text-xl font-bold mb-4">Number of Pages <span class="font-light text-lg">{{book.pages}}</span></p>
          <p class="text-xl font-bold mb-4">Language <span class="font-light text-lg">{{book.language}}</span></p>
          <p class="text-xl font-bold mb-4">Publish Date: <span class="font-light text-lg">{{book.publish_date}}</span>
          </p>
          <p class="text-xl font-bold mb-4">ISBN: <span class="font-light text-lg">{{book.isbn}}</span></p>
        </div>
      </div>
      <p class="text-xl font-bold ">Description:</p>
      <p class="font-light text-lg text-justify">
        {{book.description}}
      </p>
    </div>
  </div>

  <div class="w-full flex bg-base-100 rounded-lg mt-4">
    <div class="flex flex-row justify-between p-4 w-full">
      <p class="text-3xl font-bold my-auto">Reviews</p>
      <button class="btn btn-primary" (click)="showReviewsToggle()">{{text_button}}</button>
    </div>
  </div>

  <div class="w-full flex bg-base-100 rounded-lg mt-4" *ngIf="showReviews">
    <input type="text" class="input input-bordered flex-1 m-4 in" placeholder="Insert your Review Here"
      [(ngModel)]="userReview" />
    <button class="btn btn-primary my-auto mr-3" (click)="submitReview()">Submit</button>

  </div>

  <div class="w-full flex card bg-base-100 rounded-lg mt-4" *ngFor="let review of reviews">
    <div class="card-body flex flex-row">
      <div class="avatar my-auto">
        <div class="mask mask-squircle w-16 h-16">
          <img src="{{review.user_info.image}}" alt="" />
        </div>
      </div>
      <div class="my-auto">
        <p class="font-bold">{{review.user_info.username}}</p>
        <p>{{review.date}}</p>
      </div>
      <div class="my-auto">
        <p>{{review.review}}</p>
      </div>
    </div>
  </div>
</div>