<div class="flex flex-col space-y-4 m-4 h-screen xl:container xl:mx-auto">
  <app-navbar></app-navbar>
  <div class="w-full flex card bg-base-100 rounded-lg" *ngIf="book">

    <div class="card-body">

      <div class="flex flex-row">
        <div class="mr-3">
          <img src="{{book.image}}" alt="" class="rounded">
        </div>
        <div class="flex-1">
          <p class="text-6xl font-bold mb-4">{{book.title}}</p>
          <div class="rating rating-lg mb-5">
            <input type="radio" name="rating-8" class="rating-hidden"
              [checked]="book.avg_rating >= 0 && book.avg_rating < 1" />
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400"
              [checked]="book.avg_rating >= 1 && book.avg_rating < 2" />
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400"
              [checked]="book.avg_rating >= 2 && book.avg_rating < 3" />
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400"
              [checked]="book.avg_rating >= 3 && book.avg_rating < 4" />
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400"
              [checked]="book.avg_rating >= 4 && book.avg_rating < 5" />
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400"
              [checked]="book.avg_rating === 5" />
            <p class="text-4xl font-bold mx-5 my-auto">{{book.avg_rating}}</p>
          </div>
          <p class="text-xl font-bold mb-4">Author:
            <a routerLink="/author/{{book.author}}" class="font-light text-lg underline">{{book.author_name}}</a>
          </p>
          <p class="text-xl font-bold mb-4">Number of Pages: <span class="font-light text-lg">{{book.pages}}</span></p>
          <p class="text-xl font-bold mb-4">Language:
            <span class="font-light text-lg">{{book.language}}</span>
          </p>
          <p class="text-xl font-bold mb-4">Publish Date: <span class="font-light text-lg">{{book.publish_date}}</span>
          </p>
          <p class="text-xl font-bold mb-4">ISBN: <span class="font-light text-lg">{{book.isbn}}</span></p>
        </div>
      </div>
      <p class="text-xl font-bold ">Description:</p>
      <p class="font-light text-lg text-justify">
        {{book.description}}
      </p>
    </div>
  </div>

  <div class="w-full flex bg-base-100 rounded-lg mt-4">
    <div class="flex flex-row justify-between p-4 w-full">
      <p class="text-3xl font-bold my-auto">Favoritos</p>
      <button class="btn btn-primary" (click)="addFav()">{{text_fav}}</button>
    </div>
  </div>

  <div class="w-full flex bg-base-100 rounded-lg mt-4">
    <div class="flex flex-row justify-between p-4 w-full">
      <p class="text-3xl font-bold my-auto">Reviews</p>
      <button class="btn btn-primary" (click)="showReviewsToggle()" *ngIf="myReview == null">{{text_button}}</button>
      <p #other class="my-auto" *ngIf="myReview != null">You already reviewed this book</p>
    </div>
  </div>

  <div class="w-full flex bg-base-100 rounded-lg mt-4" *ngIf="showReviews">
    <input type="text" class="input input-bordered flex-1 m-4 in" placeholder="Insert your Review Here"
      [(ngModel)]="userReview" />
    <button class="btn btn-primary my-auto mr-3" (click)="submitReview()">Submit</button>
  </div>

  <div class="w-full flex card bg-base-100 rounded-lg mt-4" *ngFor="let review of reviews; let i = index">
    <div>
      <div class="card-body flex flex-row">
        <div class="avatar my-auto">
          <div class="mask mask-squircle w-16 h-16">
            <img src="{{review.user_image}}" alt="" />
          </div>
        </div>
        <div class="my-auto">
          <p class="font-bold">{{review.user_name}}</p>
          <p>{{calculateDate(review.datetime)}}</p>
        </div>
        <div class="divider divider-horizontal"></div>
        <div class="my-auto">
          <p>{{review.text}}</p>
        </div>
        <div class="my-auto mx-auto" *ngIf="review.user == user.id">
          <button class="btn btn-circle btn-outline mx-2" (click)="showEditReview()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
            </svg>
          </button>
          <button class="btn btn-circle btn-outline mx-2" (click)="deleteReview(review.id)">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
      <div class="w-full flex bg-base-100 rounded-lg mt-4" *ngIf="(review.user == user.id) && editMyReview">
        <input class="input input-bordered flex-1 m-4 in" type="text" placeholder="Edit your Review Here"
          [(ngModel)]="userReview"  />
        <button class="btn btn-primary my-auto mr-3" (click)="editReview(userReview)">Submit</button>
      </div>
      <div class="w-full flex bg-base-100 rounded-lg mt-4" *ngIf="review.user != user.id">
        <input type="text" class="input input-bordered flex-1 m-4 in" placeholder="Comment this review"
          [(ngModel)]="userComment[i]" />
        <button class="btn btn-primary my-auto mr-3" (click)="submitComment(review.id, i)">Submit</button>
      </div>
      <div class="collapse" *ngIf="review.number_of_comments !== 0" (click)="getComments(review.id, i)">
        <input type="checkbox" />
        <div class="collapse-title font-medium divider">
          Click To Show Comments
        </div>
        <div class="collapse-content">
          <div class="w-full flex card bg-base-100 rounded-lg mt-4" *ngFor="let comment of comments[i]">
            <div class="card-body flex flex-row">
              <div class="avatar my-auto">
                <div class="mask mask-squircle w-16 h-16">
                  <img src="{{comment.user_image}}" alt="" />
                </div>
              </div>
              <div class="my-auto">
                <p class="font-bold">{{comment.user_name}}</p>
                <p>{{calculateDate(comment.datetime)}}</p>
              </div>
              <div class="divider divider-horizontal"></div>
              <div class="my-auto">
                <p>{{comment.text}}</p>
              </div>
              <div class="my-auto mx-auto" *ngIf="comment.user == user.id">
                <button class="btn btn-circle btn-outline" (click)="deleteComment(comment.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>