<div class="max-w-xl mx-auto mt-64 p-6 bg-base-100 rounded-xl shadow-xl" id="login-container">
  <h1 class="text-5xl font-bold mb-6 tracking-wider">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-control mb-4 space-y-4">

      <label class="input-group w-full input-group-lg">
        <span class="w-1/4">Email</span>
        <input type="email" name="email" class="w-3/4 input input-primary input-bordered input-lg"
               placeholder="email"
               formControlName="email">
      </label>
      <div class="text-error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</div>
      </div>


      <label class="input-group w-full input-group-lg">
        <span class="w-1/4">Password </span>
        <input type="password" name="password" class="w-3/4 input input-bordered input-primary input-lg"
               placeholder="Password" formControlName="password">
      </label>

      <div class="text-error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
      </div>

      <div *ngIf="loginFail" style="text-align: center;">
        <div class="alert alert-error shadow-lg  mt-6">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span>{{ message }}</span>
          </div>
        </div>
      </div>


      <div class="mb-4">
        <button class="btn btn-active btn-primary btn-wide w-full" type="submit" [disabled]="loginForm.invalid">Submit
        </button>
      </div>

      <div class="text-center mt-5 space-x-2">
        <p class="text-base"> Don't have an account as a reader? <a class="text-primary font-bold" routerLinkActive="active"
                                                        routerLink="/signupReader"> Create a account</a></p>
        <p class="text-base"> Don't have an account as a writer? <a class="text-primary font-bold" routerLinkActive="active"
                                                          routerLink="/signupAuthor"> Create a account</a></p>
      </div>
    </div>

  </form>
</div>
