<div class="flex flex-col space-y-4 m-4 h-screen xl:container xl:mx-auto">
  <app-navbar></app-navbar>


  <div class="w-full flex card bg-base-100 rounded-lg">

    <div class="card-body">
      <div class="flex flex-row">
        <div class="mr-3">
          <img src="https://placeimg.com/300/400/people" alt="" class="rounded">
        </div>

        <div class="flex-1">
          <p class="text-6xl font-bold mb-4">Saída de Emergência</p>
          <p class="text-xl font-bold mb-4">Endereço: <span class="font-light text-lg">Rua de cima, 69</span></p>
          <p class="text-xl font-bold mb-4">Cidade: <span class="font-light text-lg">Porto</span></p>
          <p class="text-xl font-bold mb-4">Website: <a class="font-light text-lg" href="https://sde.pt">https://sde.pt</a><span
            class="font-extralight text-lg ml-1">(21)</span></p>

          <!-- Mostrar só quando tem livros-->
          <p class="text-xl font-bold mb-4">Average Reviews per Book: <span class="font-light text-lg">5</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
