<div class="flex flex row justify-center gap-4">
  <select class="select">
    <option [value]="-1" selected>Rating</option>
    <option *ngFor="let rating of ratings" [value]="rating">{{rating}}</option>
  </select>

  <select class="select">
    <option selected [value]="-1">Year</option>
    <option *ngFor="let year of years" [value]="year">{{year}}</option>
  </select>

  <select class="select">
    <option [value]="-1" selected>Publisher</option>
    <option *ngFor="let publisher of publishers" [value]="publisher.id">{{publisher.name}}</option>
  </select>


  <select class="select">
    <option [value]="-1" selected>Language</option>
    <option *ngFor="let language of languages" [value]="language">{{language}}</option>
  </select>
</div>

