<div class="flex flex row justify-center gap-4">
  <select class="select">
    <option disabled selected>Rating</option>
    <option>Homer</option>
    <option>Marge</option>
    <option>Bart</option>
    <option>Lisa</option>
    <option>Maggie</option>
  </select>
  <select class="select">
    <option disabled selected>Year</option>
    <option>Homer</option>
    <option>Marge</option>
    <option>Bart</option>
    <option>Lisa</option>
    <option>Maggie</option>
  </select>
  <select class="select">
    <option disabled selected>Publisher</option>
    <option>Homer</option>
    <option>Marge</option>
    <option>Bart</option>
    <option>Lisa</option>
    <option>Maggie</option>
  </select>


  <select class="select">
    <option disabled selected>Language</option>
    <option>Homer</option>
    <option>Marge</option>
    <option>Bart</option>
    <option>Lisa</option>
    <option>Maggie</option>
  </select>
</div>

