<div class="flex flex-col space-y-4 m-4 h-screen xl:container xl:mx-auto">

    <app-navbar></app-navbar>

    <div class="w-full rounded bg-base-100 flex">
      <p class="text-3xl font-bold p-4 flex-1">Publishers</p>
    </div>

    <div class="grid grid-cols-2 gap-4" *ngFor="let publisher of publishers">
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure class="px-10 pt-10">
          <img src={{publisher.logo}} alt="Shoes" class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">{{publisher.name}}</h2>
          <p>{{publisher.address}}<</p>
          <div class="card-actions">
            <button class="btn btn-primary" routerLink="/publisher/{{publisher.id}}">More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
